*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  --darkGrey: #3d3d3d;
  font-family: 'Ubuntu', sans-serif;
  --maxWidth: 90vw;
}

html, body, #content {
  height: 100%;
}

#positionWrapper {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

#currentWeather {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color:rgb(49, 49, 49);
  background-position: center 40px;
}

#currentWeather ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#city { 
  margin: 5px 0;
  font-size: 1em;
  font-weight: 500;
  flex-basis: 100%;
  text-shadow: 1px 1px 2px #b9b9b9;
}

#current {
  text-transform: capitalize;
  margin: 1rem 0 0 0;
  flex-basis: 100%;
  font-size: 1.4em;
}

#temp {
  font-size: 4em;
  font-weight: 400;
  flex-basis: 100%;
  text-shadow: 1px 1px 3px #8a8a8a;
}

#minMax {
  width: 100%;
  font-size: .8em;
  font-weight: 600;
}

#temp span {
  font-size: .2em;
}


#wind {
  display: flex;
  flex-basis: 100%;
  font-size: .8em;
  margin: 10px 0 20px 0;
  align-items: center;
  font-weight: 600;
}

#wind img {
  width: 30px;
  margin-right: 5px;
  align-items: center;
}

.addend {
  width: 25%;
  font-size: .8em;
}



.coldAndClear {
  background: rgb(43,135,203);
  background: linear-gradient(201deg, rgba(43,135,203,1) 0%, rgba(146,204,251,1) 100%); 
}

.warmAndClear {
  background: rgb(21,161,231);
  background: linear-gradient(201deg, rgba(21,161,231,1) 0%, rgba(255,246,79,1) 100%); 
}

.cloudy {
  background: rgb(181,221,251);
  background: linear-gradient(201deg, rgba(181,221,251,1) 0%, rgba(147,147,148,1) 100%); 
}

.thunderstormDay {
  background: url('http://openweathermap.org/img/wn/11d@4x.png') no-repeat;
}

.drizzleDay {
  background: url('http://openweathermap.org/img/wn/09d@4x.png') no-repeat;
}

.rainDay {
  background: url('http://openweathermap.org/img/wn/10d@4x.png') no-repeat;
}

.snowDay {
  background: url('http://openweathermap.org/img/wn/13d@4x.png') no-repeat;
}

.clearDay {
  background: url('http://openweathermap.org/img/wn/01d@4x.png') no-repeat;
}

.atmosphereDay {
  background: url('http://openweathermap.org/img/wn/50d@4x.png') no-repeat;
}

.clouds1Day {
  background: url('http://openweathermap.org/img/wn/02d@4x.png') no-repeat;
}

.clouds2Day {
  background: url('http://openweathermap.org/img/wn/03d@4x.png') no-repeat;
}

.clouds3Day {
  background: url('http://openweathermap.org/img/wn/04d@4x.png') no-repeat;
}

/* Night */
.thunderstormNight {
  background: url('http://openweathermap.org/img/wn/11n@4x.png') no-repeat;
}

.drizzleNight {
  background: url('http://openweathermap.org/img/wn/09n@4x.png') no-repeat;
}

.rainNight {
  background: url('http://openweathermap.org/img/wn/10n@4x.png') no-repeat;
}

.snowNight {
  background: url('http://openweathermap.org/img/wn/13n@4x.png') no-repeat;
}

.clearNight {
  background: url('http://openweathermap.org/img/wn/01n@4x.png') no-repeat;
}

.atmosphereNight {
  background: url('http://openweathermap.org/img/wn/50n@4x.png') no-repeat;
}

.clouds1Night {
  background: url('http://openweathermap.org/img/wn/02n@4x.png') no-repeat;
}

.clouds2Night {
  background: url('http://openweathermap.org/img/wn/03n@4x.png') no-repeat;
}

.clouds3Night {
  background: url('http://openweathermap.org/img/wn/04n@4x.png') no-repeat;
}


/* Hourly Carousel */
#hourlyCarousel {
  padding: 30px;
  width: var(--maxWidth);
  display: flex;
  flex-wrap: wrap;
  border-top: double 3px rgba(255, 255, 255, 0.2);
}

#hourlyCarousel button {
  width: 50%;
  font-size: .8rem;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 5px;
}

#hourlyCarousel button.active {
  background:  rgba(250, 250, 250, .7);
  cursor: default;
}

.slide{
display: none;
width: 100%;
}

/* Nav for 24 Hour Period */
#slideNav {
  width: 50%;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  font-size: .7em;
}

.dot {
  width: 33.3%;
  padding: 15px 10px 10px 10px;
  cursor: pointer;
  border: solid 3px rgba(255, 255, 255, 0);
  border-radius: 3px;
  text-align: center;
}

.dot.active {
  background:  rgba(250, 250, 250, .7);
  transition: .8s;
}

#hourlyContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#hourlyContainer div.slide li {
  width: 12.5%;
  background-position: center 20px !important;
  text-align: center;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}

#hourlyContainer li span.time {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 600;
}

#hourlyContainer li span.temp {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 50px;
}

#hourlyContainer li span.desc {
  width: 100%;
  text-transform: capitalize;
  font-size: .8rem;
}

ul#hourlyContainer li.thunderstorm {
  background: url('http://openweathermap.org/img/wn/11d.png') no-repeat;
}

ul#hourlyContainer li.drizzle {
  background: url('http://openweathermap.org/img/wn/09d.png') no-repeat;
}

ul#hourlyContainer li.rain {
  background: url('http://openweathermap.org/img/wn/10d.png') no-repeat;
}

ul#hourlyContainer li.snow {
  background: url('http://openweathermap.org/img/wn/13d.png') no-repeat;
}

ul#hourlyContainer li.clear {
  background: url('http://openweathermap.org/img/wn/01d.png') no-repeat;
}

ul#hourlyContainer li.atmosphere {
  background: url('http://openweathermap.org/img/wn/50d.png') no-repeat;
}

ul#hourlyContainer li.clouds1{
  background: url('http://openweathermap.org/img/wn/02d.png') no-repeat;
}

ul#hourlyContainer li.clouds2 {
  background: url('http://openweathermap.org/img/wn/03d.png') no-repeat;
}

ul#hourlyContainer li.clouds3 {
  background: url('http://openweathermap.org/img/wn/04d.png') no-repeat;
}

/* Daily Display */
#dailyContainer {
  display: none;
}


/* Night Style */

.night {
  background: rgb(28,54,73);
  background: linear-gradient(201deg, rgba(28,54,73,1) 0%, rgba(16,22,27,1) 100%); 
}

#content.night #currentWeather ul li#city, 
#content.night #currentWeather ul li#temp, 
#content.night #currentWeather ul li#minMax,
#content.night #currentWeather ul li#current,
#content.night #currentWeather ul li#wind,
#content.night #currentWeather ul li#feelsLike,
#content.night #currentWeather ul li#humidity,
#content.night #currentWeather ul li#uV,
#content.night #currentWeather ul li#visibility,
#content.night #currentWeather ul li#timeToSun,
#content.night #hourlyCarousel #hourButton,
#content.night #hourlyCarousel #hourButton.active,
#content.night #hourlyCarousel #dayButton,
#content.night #hourlyCarousel #dayButton.active,
#content.night #hourlyCarousel ul#hourlyContainer,
#content.night #hourlyCarousel ul#dailyContainer {
  color: #FFF;
}
#content.night #hourlyCarousel ul#hourlyContainer div#slideNav .dot.active,
#content.night #hourlyCarousel #hourButton.active {
  color: rgb(68, 68, 68);
}


@media screen and (max-width: 700px) {

  #hourlyContainer div.slide {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }
  #hourlyContainer div.slide li {
    background-position: right center !important;
    text-align: left;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  
  #hourlyContainer li span.time {
    width: 15%;
    font-size: .6em !important;
  }
  
  #hourlyContainer li span.temp {
    width: 15% !important;
    margin: 0;
    display: flex;
    font-size: .8em !important;
  }
  
  #hourlyContainer li span.desc {
    font-size: .8em !important;
    width: 60%;
  }
  
  #slideNav {
    width: 100%;
  }

  .thunderstormDay {
    background: url('http://openweathermap.org/img/wn/11d@2x.png') no-repeat;
  }
  
  .drizzleDay {
    background: url('http://openweathermap.org/img/wn/09d@2x.png') no-repeat;
  }
  
  .rainDay {
    background: url('http://openweathermap.org/img/wn/10d@2x.png') no-repeat;
  }
  
  .snowDay {
    background: url('http://openweathermap.org/img/wn/13d@2x.png') no-repeat;
  }
  
  .clearDay {
    background: url('http://openweathermap.org/img/wn/01d@2x.png') no-repeat;
  }
  
  .atmosphereDay {
    background: url('http://openweathermap.org/img/wn/50d@2x.png') no-repeat;
  }
  
  .clouds1Day {
    background: url('http://openweathermap.org/img/wn/02d@2x.png') no-repeat;
  }
  
  .clouds2Day {
    background: url('http://openweathermap.org/img/wn/03d@2x.png') no-repeat;
  }
  
  .clouds3Day {
    background: url('http://openweathermap.org/img/wn/04d@2x.png') no-repeat;
  }
  
}